.header1 {
    background-image: url(/public/images/Header1Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /*border: 10px solid red;*/
    height:500px;
}

h1 {
    background-color: transparent;
    
    text-align: center;

    /*border:1px solid blue;*/
}

@keyframes colorChange {
    0% {color: white;}
    25% {color: lightgreen;}
    50% {color: greenyellow}
    100% {color: grey}
    
}

.header-text {
    color: white;
    font-family: sans-serif;
    font-size: 2.0em;
    font-weight:600;

    animation-name: colorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.summary-list {
    color: white;
}

.summary-list li {
    list-style-type:disc;
    padding: 5px;
}